@import 'abstract/variables';
@import 'abstract/mixins';
@import 'abstract/fonts';
// utilities
@import 'utilities/button';
@import 'utilities/general';
@import 'utilities/footer';
@import 'utilities/contact';

.footer-section{
    background-color: $secondary_color;
    border-top: 1px solid black;
    color: $primary_color;
}

// landing styling
.shop-heading-section{
    h4{
        font-size: 2.5rem;
    }
    p{
        font-family: moonRegular;
    }
    
}
// shop section
.shop-section{
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    &-aside{
        h4{
            padding-bottom: 0.5rem;
            width: 50%;
            border-bottom: 2px solid $primary_color;
        }
        a{
            color: $text_color_black;
        }
        p{
            font-family: moonRegular;
        }
    }
}
.sort-products{
    font-family: moonRegular;
    select{
        padding: 0.25rem;
        border-radius: 5px;
    }
    label{
        font-weight: 600;
    }
    
}
.products-showcase{
    h4{
        font-size: 1.25rem;
        a{
        color: $text_color_black;
        }
    }

}
.footer-section{
    a{
        color: $primary_color;
    }
}
