@font-face {
    font-family: blendaScript;
    src: url(../fonts/BlendaScript.otf);
}
@font-face{
    font-family: moonRegular;
    src: url(../fonts/Moon2.0-Regular.otf);
}
@font-face{
    font-family: moonBold;
    src: url(../fonts/Moon2.0-Bold.otf);
}

p{
    font-family: corbel;
}
h4{
    font-family: moonRegular;
}